.background-color-azzurro {
    background-color: #9cd6f4;
    background-image: url("../img/pattern.png");
    background-size: 30%;
}

.dimensione-immagine-header-margini {
    width: 10%;
    margin-top: 35px;
    margin-bottom: 35px;
}

.margin-bottom-zero-e-font-size-quaranta {
    margin-bottom: 0px;
    font-size: 38px;
}

.margin-bottom-zero {
    margin-bottom: 0px;
}

.color-azzurro-scuro {
    color: #6bb6ff;
}

.color-marroncino {
    color: #aaa195;
}

.margin-top-trenta {
    margin-top: 30px;
}

.background-color-yellow {
    background-color: yellow;
}

.padding-left-uno-e-margin-top-trenta {
    padding-left: 1%;
    margin-top: 30px;
}

.font-size-dodici {
    font-size: 12px;
}

.intestazione-tabella {
    background-color: #7fa6fb;
    color: white;
    text-align: left;
}

.background-color-grey {
    background-color: #dfe5f2;
}

.larghezza-venticinque-per-cento-pagina {
    width: 25%;
}

.prop-fondo-pagina {
    color: white;
    background-color: #313a6b;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 30px;
    font-size: smaller;
}

.centro-e-ottanta-per-cento {
    margin-left: 10%;
    margin-right: 10%;
}