.background-color-azzurro {
    background-color: #9cd6f4;
}

.dimensione-immagine-header-margini {
    width: 13%;
    margin-top: 40px;
    margin-bottom: 40px;
}

.margin-bottom-zero {
    margin-bottom: 0px;
}

.color-azzurro-scuro {
    color: #6bb6ff;
}

.color-marroncino {
    color: #aaa195;
}

.margin-top-venti {
    margin-top: 20px;
}

.background-color-yellow {
    background-color: yellow;
}

.padding-left-uno {
    padding-left: 1%;
    margin-top: 30px;
}

.font-size-dodici {
    font-size: 12px;
}