.background-color-azzurro {
    background-color: #9cd6f4;
}

.dimensione-immagine-header-margini {
    width: 13%;
    margin-top: 40px;
    margin-bottom: 40px;
}

.margin-bottom-zero {
    margin-bottom: 0px;
}

.color-azzurro-scuro {
    color: #6bb6ff;
}

.color-marroncino {
    color: #aaa195;
}